### Fitting Logistic Regression

In this first notebook, you will be fitting a logistic regression model to a dataset where we would like to predict if a transaction is fraud or not.

To get started let's read in the libraries and take a quick look at the dataset.

In [16]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
from scipy import stats
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)

df = pd.read_csv('./fraud_dataset.csv')
df.head()

   transaction_id   duration      day  fraud
0           28891  21.302600  weekend  False
1           61629  22.932765  weekend  False
2           53707  32.694992  weekday  False
3           47812  32.784252  weekend  False
4           43455  17.756828  weekend  False

`1.` As you can see, there are two columns that need to be changed to dummy variables.  Replace each of the current columns to the dummy version.  Use the 1 for `weekday` and `True`, and 0 otherwise.  Use the first quiz to answer a few questions about the dataset.

In [18]:
df['intercept']=1
df[['weekday','weekend']]=pd.get_dummies(df['day'])
df[['noFraud','fraudDone']]=pd.get_dummies(df['fraud'])
print(df.head(5))

   transaction_id   duration      day  fraud  intercept  weekday  weekend  \
0           28891  21.302600  weekend  False          1        0        1
1           61629  22.932765  weekend  False          1        0        1
2           53707  32.694992  weekday  False          1        1        0
3           47812  32.784252  weekend  False          1        0        1
4           43455  17.756828  weekend  False          1        0        1

   noFraud  fraudDone
0        1          0
1        1          0
2        1          0
3        1          0
4        1          0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8793 entries, 0 to 8792
Data columns (total 9 columns):
transaction_id    8793 non-null int64
duration          8793 non-null float64
day               8793 non-null object
fraud             8793 non-null bool
weekday           8793 non-null uint8
weekend           8793 non-null uint8
fraudDone         8793 non-null uint8
noFraud           8793 non-null uint8
intercept         8793 non-null int64
dtypes: bool(1), float64(1), int64(2), object(1), uint8(4)
memory usage: 317.8+ KB

`2.` Now that you have dummy variables, fit a logistic regression model to predict if a transaction is fraud using both day and duration.  Don't forget an intercept!  Use the second quiz below to assure you fit the model correctly.

In [10]:
df.describe()

,transaction_id,duration,weekday,weekend,fraudDone,noFraud,intercept
count,8793.000000,8793.000000,8793.000000,8793.000000,8793.000000,8793.000000,8793.0
mean,55243.384510,29.704626,0.345275,0.654725,0.012169,0.987831,1.0
std,21792.120147,7.464452,0.475485,0.475485,0.109645,0.109645,0.0
min,17301.000000,0.215113,0.000000,0.000000,0.000000,0.000000,1.0
25%,36454.000000,25.211787,0.000000,0.000000,0.000000,1.000000,1.0
50%,55420.000000,29.923160,0.000000,1.000000,0.000000,1.000000,1.0
75%,74131.000000,34.532567,1.000000,1.000000,0.000000,1.000000,1.0
max,92828.000000,60.412763,1.000000,1.000000,1.000000,1.000000,1.0

In [19]:
logit_model= sm.Logit(df['fraudDone'],df[['intercept','duration','weekday','weekend']])
logit_modelResults= logit_model.fit()
print(logit_modelResults.summary())

Optimization terminated successfully.
         Current function value: inf
         Iterations 16
                           Logit Regression Results
==============================================================================
Dep. Variable:              fraudDone   No. Observations:                 8793
Model:                          Logit   Df Residuals:                     8790
Method:                           MLE   Df Model:                            2
Date:                Sun, 05 Apr 2020   Pseudo R-squ.:                     nan
Time:                        23:22:29   Log-Likelihood:                   -inf
converged:                       True   LL-Null:                          -inf
                                        LLR p-value:                       nan
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
intercept      7.4295        nan        nan        nan         nan         nan
duration      -1.4637      0.290     -5.039      0.000      -2.033      -0.894
weekday        4.9880        nan        nan        nan         nan         nan
weekend        2.4415        nan        nan        nan         nan         nan
==============================================================================

Possibly complete quasi-separation: A fraction 0.98 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.

/opt/conda/lib/python3.6/site-packages/statsmodels/discrete/discrete_model.py:1214: RuntimeWarning: overflow encountered in exp
  return 1/(1+np.exp(-X))
/opt/conda/lib/python3.6/site-packages/statsmodels/discrete/discrete_model.py:1264: RuntimeWarning: divide by zero encountered in log
  return np.sum(np.log(self.cdf(q*np.dot(X,params))))
/opt/conda/lib/python3.6/site-packages/statsmodels/discrete/discrete_model.py:2397: RuntimeWarning: invalid value encountered in double_scalars
  return 1 - self.llf/self.llnull
/opt/conda/lib/python3.6/site-packages/statsmodels/discrete/discrete_model.py:2401: RuntimeWarning: invalid value encountered in double_scalars
  return -2*(self.llnull - self.llf)
/opt/conda/lib/python3.6/site-packages/statsmodels/base/model.py:1029: RuntimeWarning: invalid value encountered in sqrt
  return np.sqrt(np.diag(self.cov_params()))
/opt/conda/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in greater
  return (self.a < x) & (x < self.b)
/opt/conda/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:877: RuntimeWarning: invalid value encountered in less
  return (self.a < x) & (x < self.b)
/opt/conda/lib/python3.6/site-packages/scipy/stats/_distn_infrastructure.py:1831: RuntimeWarning: invalid value encountered in less_equal
  cond2 = cond0 & (x <= self.a)